input, label{
    border: 50px relative orange;
    font-size: 30px;
    margin: 50px 40px;
    padding: 50px;

    background-color: #f2f2f2;
    color: #fff;

    width: 5px;
    height: 5px;
}

textarea{
    width: 300px;
    max-width: 300px;
    min-width: 300px;

    position: absolute;

    top: 0;
    right: 0;
    left: 0;

    color: #fff;
}

body{
    background-color: #161b21;
}

header{ /*161b20*/
    border-color: aqua;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    border: 10px solid orange;
    margin: 0;
    padding: 5px;
}