

body{
    background-color: #161b21;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;

    padding: 0 50px;
}

header{ /*161b20*/
    border-color: aqua;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    border: 5px solid 161b21;
    padding: 5px;
    margin: 5px;
}
