* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #161b21;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    padding: 0 50px;
}

header{ /*161b20*/
    border-color: aqua;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    border: 5px solid 161b21;
    padding: 5px;
    margin: 5px;
}

.secao-produtos {
    background-color: white;    
    color: #161b21;

    padding: 20px 10px;
}

.lista-produtos {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.produto {
    color : #161b21;
    /*flex-grow: 1;*/
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid orange;
    width: 200px;
}